<!DOCTYPE html>
<html lang="en">
  <head>
    <meta data-template-name="Template_H5T_inpage-300x250-image" />
    <!-- metatag added following best practices from Google Ad Manager https://support.google.com/richmedia/answer/2672553?hl=en&ref_topic=2672541&sjid=12551238857112128598-EU -->
    <meta name="ad.size" content="width=300,height=250" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://s0.2mdn.net/creatives/assets/4622530/SplitText.min.js"></script>
    <link rel="stylesheet" type="text/css" href="shell-styles.css" />
  </head>

  <body>
    <div class="dynamicAdvertContainer">nothing to see here</div>
    <script src="shell-logic.js"></script>
  </body>
</html>
